---
http_interactions:
- request:
    method: post
    uri: https://app.pipefy.com/cards/407309/create_connected_card
    body:
      encoding: UTF-8
      string: '{"pipe_id":33012}'
    headers:
      X-User-Email:
      - "<PIPEFY_EMAIL>"
      X-User-Token:
      - "<PIPEFY_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"75130c0789f5e65c130794d9a9316024"
    body:
      encoding: UTF-8
      string: '{"id":416925,"title":"Draft","current_phase_id":262948,"due_date":null,"duration":0.081459051,"started_at":"2016-01-29T17:31:03.611Z","finished_at":null,"expiration_time":null,"index":null,"token":"30c5a9e62f430ed70cfb303df52d2d2e810832d0"}'
  recorded_at: Fri, 29 Jan 2016 17:31:03 GMT
- request:
    method: get
    uri: https://app.pipefy.com/cards/407309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Email:
      - "<PIPEFY_EMAIL>"
      X-User-Token:
      - "<PIPEFY_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b31c499bf1fd09cbbf59145eca4a8a33"
    body:
      encoding: UTF-8
      string: '{"id":407309,"title":"Fadel-Labadie","current_phase_id":266188,"due_date":null,"duration":339864.240290016,"started_at":"2016-01-25T19:06:39.631Z","finished_at":null,"expiration_time":null,"index":8.0,"token":"ec31c6d18c70b4983a48436f6209a0f9ff2eb84f","pipe":{"id":33457,"name":"LoanApplication
        Background Checks Test"},"expired":false,"late":false,"draft":false,"done":false,"can_show_pipe":true,"can_move_to_previous":true,"previous_phase":{"id":266187,"name":"Start
        form","draft":false},"next_phase":{"id":266190,"name":"Done"},"assignees":[],"labels":[],"current_phase_detail":{"id":841705,"duration":339863.151515,"created_at":"2016-01-25T19:06:39.778Z","phase":{"id":266188,"name":"Inbox","done":false,"pipe_id":33457,"draft":false,"can_edit":true,"pipe":{"id":33457,"name":"LoanApplication
        Background Checks Test","users":[{"id":2746,"name":"mike18","username":"mikegrassotti","email":"mike@liftforward.com","display_username":"mikegrassotti"},{"id":18056,"name":"drew2","username":"drewnichols","email":"<PIPEFY_EMAIL>","display_username":"drewnichols"},{"id":18226,"name":"liftbot1","username":"liftbot","email":"liftbot@liftforward.com","display_username":"liftbot"}],"labels":[]},"fields":[],"pipe_connections":[{"id":1058,"pipe":{"id":33012,"name":"Background
        Check"}}],"automated_message_setups":[],"jump_targets":[]},"connected_cards":[{"id":416925,"title":"Draft","duration":0.305113773,"started_at":"2016-01-29T17:31:03.611Z","finished_at":null,"expiration_time":null,"draft":true,"done":false,"can_show_pipe":true,"current_phase_detail":{"id":864369,"phase_id":262948,"phase":{"id":262948,"name":"Start
        form","pipe_id":33012}}},{"id":416913,"title":"Donald Trump","duration":104.271394591,"started_at":"2016-01-29T17:29:19.654Z","finished_at":null,"expiration_time":null,"draft":false,"done":false,"can_show_pipe":true,"current_phase_detail":{"id":864339,"phase_id":262949,"phase":{"id":262949,"name":"Inbox","pipe_id":33012}}},{"id":416891,"title":"Donald
        Trump","duration":762.55143909,"started_at":"2016-01-29T17:18:21.384Z","finished_at":nul[...]
- request:
    method: post
    uri: https://app.pipefy.com/card_field_values
    body:
      encoding: UTF-8
      string: '{"card_field_value":{"field_id":816556,"card_phase_detail_id":864369,"value":"Donald
        Trump"}}'
    headers:
      X-User-Email:
      - "<PIPEFY_EMAIL>"
      X-User-Token:
      - "<PIPEFY_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://app.pipefy.com/card_field_values/1354152
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b89590df2da106b77b5c3228f15ec0b7"
    body:
      encoding: UTF-8
      string: '{"id":1354152,"field_id":816556,"value":"Donald Trump","display_value":"Donald
        Trump","created_at":"2016-01-29T17:31:04.189Z","updated_at":"2016-01-29T17:31:04.189Z","card":{"id":416925,"due_date":null,"labels":[],"assignees":[]}}'
  recorded_at: Fri, 29 Jan 2016 17:31:04 GMT
[...]
- request:
    method: put
    uri: https://app.pipefy.com/cards/416925/next_phase
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-User-Email:
      - "<PIPEFY_EMAIL>"
      X-User-Token:
      - "<PIPEFY_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - https://app.pipefy.com/cards/416925
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dcf42e74f6ffd4d53702b15327691879"
    body:
      encoding: UTF-8
      string: '{"id":416925,"title":"Donald Trump","current_phase_id":262949,"due_date":null,"duration":1.996354417,"started_at":"2016-01-29T17:31:03.611Z","finished_at":null,"expiration_time":null,"index":48.0,"pipe":{"id":33012,"name":"Background
        Check"},"expired":false,"late":false,"draft":false,"done":false,"can_show_pipe":true,"assignees":[],"labels":[],"current_phase_detail":{"id":864370,"duration":-0.480552,"created_at":"2016-01-29T17:31:05.457Z","phase_id":262949}}'
  recorded_at: Fri, 29 Jan 2016 17:31:05 GMT
recorded_with: VCR 3.0.1
