---
http_interactions:
- request:
    method: post
    uri: https://app.pipefy.com/cards/407309/create_connected_card
    body:
      encoding: UTF-8
      string: '{"pipe_id":33012}'
    headers:
      X-User-Email:
      - "<PIPEFY_EMAIL>"
      X-User-Token:
      - "<PIPEFY_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6a7e1ec8f6473489f8bf48f7cad4a33e"
    body:
      encoding: UTF-8
      string: '{"id":424219,"title":"Draft","current_phase_id":262948,"due_date":null,"duration":0.070386008,"started_at":"2016-02-02T22:19:40.565Z","finished_at":null,"expiration_time":null,"index":null,"token":"f67420f35a3cb7e0b5b9a01c44d04bff4b9147da"}'
  recorded_at: Tue, 02 Feb 2016 22:19:40 GMT
- request:
    method: get
    uri: https://app.pipefy.com/cards/407309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Email:
      - "<PIPEFY_EMAIL>"
      X-User-Token:
      - "<PIPEFY_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ee1cc67800dae66aad25c9ae6099ec54"
    body:
      encoding: UTF-8
      string: '{"id":407309,"title":"Fadel-Labadie","current_phase_id":266188,"due_date":null,"duration":702781.44028143,"started_at":"2016-01-25T19:06:39.631Z","finished_at":null,"expiration_time":null,"index":8.0,"token":"ec31c6d18c70b4983a48436f6209a0f9ff2eb84f","pipe":{"id":33457,"name":"LoanApplication
        Background Checks Test"},"expired":false,"late":false,"draft":false,"done":false,"can_show_pipe":true,"can_move_to_previous":true,"previous_phase":{"id":266187,"name":"Start
        form","draft":false},"next_phase":{"id":266190,"name":"Done"},"assignees":[],"labels":[],"current_phase_detail":{"id":841705,"duration":702781.151515,"created_at":"2016-01-25T19:06:39.778Z","phase":{"id":266188,"name":"Inbox","done":false,"pipe_id":33457,"draft":false,"can_edit":true,"pipe":{"id":33457,"name":"LoanApplication
        Background Checks Test","users":[{"id":2746,"name":"mike18","username":"mikegrassotti","email":"mike@liftforward.com","display_username":"mikegrassotti"},{"id":18056,"name":"drew2","username":"drewnichols","email":"<PIPEFY_EMAIL>","display_username":"drewnichols"},{"id":18226,"name":"liftbot1","username":"liftbot","email":"liftbot@liftforward.com","display_username":"liftbot"}],"labels":[]},"fields":[],"pipe_connections":[{"id":1058,"pipe":{"id":33012,"name":"Background
        Check"}}],"automated_message_setups":[],"jump_targets":[]},"connected_cards":[{"id":424219,"title":"Draft","duration":0.543828275,"started_at":"2016-02-02T22:19:40.565Z","finished_at":null,"expiration_time":null,"draft":true,"done":false,"can_show_pipe":true,"current_phase_detail":{"id":881179,"phase_id":262948,"phase":{"id":262948,"name":"Start
        form","pipe_id":33012}}},{"id":424218,"title":"Draft","duration":40.46974367,"started_at":"2016-02-02T22:19:00.648Z","finished_at":null,"expiration_time":null,"draft":true,"done":false,"can_show_pipe":true,"current_phase_detail":{"id":881178,"phase_id":262948,"phase":{"id":262948,"name":"Start
        form","pipe_id":33012}}},{"id":416925,"title":"Donald Trump","duration":362917.513244668,"started_at":"2016-01-29T17:31:03.611Z","finished_at":null[...]
- request:
    method: post
    uri: https://app.pipefy.com/card_field_values
    body:
      encoding: UTF-8
      string: '{"card_field_value":{"field_id":816556,"card_phase_detail_id":881179,"value":"Donald
        Trump"}}'
    headers:
      X-User-Email:
      - "<PIPEFY_EMAIL>"
      X-User-Token:
      - "<PIPEFY_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://app.pipefy.com/card_field_values/1381133
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29bfe84b7af57fc6357bfb07ab7d6905"
    body:
      encoding: UTF-8
      string: '{"id":1381133,"field_id":816556,"value":"Donald Trump","display_value":"Donald
        Trump","created_at":"2016-02-02T22:19:41.628Z","updated_at":"2016-02-02T22:19:41.628Z","card":{"id":424219,"due_date":null,"labels":[],"assignees":[]}}'
  recorded_at: Tue, 02 Feb 2016 22:19:41 GMT
[...]
- request:
    method: put
    uri: https://app.pipefy.com/cards/424219/next_phase
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-User-Email:
      - "<PIPEFY_EMAIL>"
      X-User-Token:
      - "<PIPEFY_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Location:
      - https://app.pipefy.com/cards/424219
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e96d542919f73cdd6ce07407d4ef8ceb"
    body:
      encoding: UTF-8
      string: '{"id":424219,"title":"Donald Trump","current_phase_id":262949,"due_date":null,"duration":3.081316366,"started_at":"2016-02-02T22:19:40.565Z","finished_at":null,"expiration_time":null,"index":69.0,"pipe":{"id":33012,"name":"Background
        Check"},"expired":false,"late":false,"draft":false,"done":false,"can_show_pipe":true,"assignees":[],"labels":[],"current_phase_detail":{"id":881180,"duration":-0.586194,"created_at":"2016-02-02T22:19:43.572Z","phase_id":262949}}'
  recorded_at: Tue, 02 Feb 2016 22:19:43 GMT
recorded_with: VCR 3.0.1
