---
http_interactions:
- request:
    method: get
    uri: https://app.pipefy.com/pipes/7915
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Email:
      - "<PIPEFY_EMAIL>"
      X-User-Token:
      - "<PIPEFY_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"718d8841be768bff947ca145b7676e23"
    body:
      encoding: UTF-8
      string: '{"id":7915,"name":"Loan Application","created_at":"2015-08-07T18:56:56.825-03:00","updated_at":"2016-01-12T14:26:41.749-02:00","token":"4d3e1da306c3320fc5048a25dc48b7ddb9a36890","can_edit":true,"users":[{"id":2746,"name":"Mike
        Grassotti","username":"mikegrassotti","email":"<PIPEFY_EMAIL>","display_username":"mikegrassotti"},{"id":18056,"name":"drew3","username":"drew2","email":"drew@liftforward.com","display_username":"drew2"}],"labels":[{"id":27646,"name":"msft","color":"#4C51C9"},{"id":27647,"name":"VIP","color":"#F00E4A"}],"phases":[{"id":57116,"name":"Start
        form","description":null,"done":false,"pipe_id":7915,"index":0.0,"draft":true,"cards":[{"id":33729,"title":"Test
        loan","current_phase_id":57116,"due_date":null,"index":0.0},{"id":362019,"title":"Draft","current_phase_id":57116,"due_date":null,"index":null},{"id":265815,"title":"Draft","current_phase_id":57116,"due_date":null,"index":null},{"id":260670,"title":"Draft","current_phase_id":57116,"due_date":null,"index":null},{"id":36926,"title":"Draft","current_phase_id":57116,"due_date":null,"index":null}]},{"id":57117,"name":"Inbox","description":"Here
        comes the stuff people created for this pipe.","done":false,"pipe_id":7915,"index":1.0,"dr[...]
