---
http_interactions:
- request:
    method: get
    uri: https://app.pipefy.com/pipes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Email:
      - "<PIPEFY_EMAIL>"
      X-User-Token:
      - "<PIPEFY_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0577d9781d9986de6d7569b5b9d1c79c"
    body:
      encoding: UTF-8
      string: '[{"id":7915,"name":"Loan Application","full_name":"liftforward - Loan
        Application","url":"https://app.pipefy.com/pipes/7915.json"},{"id":28354,"name":"Background
        Check","full_name":"liftforward - Background Check","url":"https://app.pipefy.com/pipes/28354.json"},{"id":28358,"name":"Documentation
        Request","full_name":"liftforward - Documentation Request","url":"https://app.pipefy.com/pipes/28358.json"},{"id":28621,"name":"Growth
        Hack Experiments","full_name":"liftforward - Growth Hack Experiments","url":"https://app.pipefy.com/pipes/28621.json"},{"id":31585,"name":"Bank
        Spreads","full_name":"liftforward - Bank Spreads","url":"https://app.pipefy.com/pipes/31585.json"},{"id":31625,"name":"Quick
        Track Site Visit","full_name":"liftforward - Quick Track Site Visit","url":"https://app.pipefy.com/pipes/31625.json"},{"id":31626,"name":"Paynet","full_name":"liftforward
        - Paynet","url":"https://app.pipefy.com/pipes/31626.json"},{"id":31627,"name":"Closing","full_name":"liftforward
        - Closing","url":"https://app.pipefy.com/pipes/31627.json"},{"id":31834,"name":"Growth
        Hack Experiments (copy 1)","full_name":"liftforward - Growth Hack Experiments
        (copy 1)","url":"https://app.pipefy.com/pipes/31834.json"}]'
  recorded_at: Tue, 12 Jan 2016 16:32:01 GMT
recorded_with: VCR 3.0.0
