---
http_interactions:
- request:
    method: get
    uri: https://app.pipefy.com/users/current
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Email:
      - "<PIPEFY_EMAIL>"
      X-User-Token:
      - "<PIPEFY_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"49435f17c85c54f74e0eb64108abf25f"
    body:
      encoding: UTF-8
      string: '{"id":2746,"name":"Mike Grassotti","username":"mikegrassotti","email":"<PIPEFY_EMAIL>","created_at":"2015-06-30T20:32:57.943-03:00","updated_at":"2015-09-21T18:59:09.098-03:00","display_username":"mikegrassotti"}'
  recorded_at: Fri, 25 Sep 2015 21:45:58 GMT
recorded_with: VCR 2.9.3
