---
http_interactions:
- request:
    method: get
    uri: https://app.pipefy.com/users/current
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Email:
      - "<PIPEFY_EMAIL>"
      X-User-Token:
      - "<PIPEFY_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fbb272bf1153d530b6aa7aa9b0718128"
    body:
      encoding: UTF-8
      string: '{"id":2746,"name":"Mike Grassotti","username":"mikegrassotti","email":"<PIPEFY_EMAIL>","created_at":"2015-06-30T20:32:57.943-03:00","updated_at":"2016-01-11T17:33:57.239-02:00","display_username":"mikegrassotti"}'
  recorded_at: Wed, 13 Jan 2016 20:41:45 GMT
recorded_with: VCR 3.0.0
