---
http_interactions:
- request:
    method: get
    uri: https://app.pipefy.com/pipes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Email:
      - "<PIPEFY_EMAIL>"
      X-User-Token:
      - "<PIPEFY_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4b1ba7ecb86ae87de9e91a08c660815a"
    body:
      encoding: UTF-8
      string: '[{"id":3759,"name":"Sales Pipeline","full_name":"liftforward - Sales
        Pipeline","url":"https://app.pipefy.com/pipes/3759.json"},{"id":6045,"name":"Procurement
        Process","full_name":"liftforward - Procurement Process","url":"https://app.pipefy.com/pipes/6045.json"},{"id":6101,"name":"Funding","full_name":"liftforward
        - Funding","url":"https://app.pipefy.com/pipes/6101.json"},{"id":7915,"name":"Underwriting","full_name":"liftforward
        - Underwriting","url":"https://app.pipefy.com/pipes/7915.json"}]'
  recorded_at: Fri, 25 Sep 2015 21:45:58 GMT
recorded_with: VCR 2.9.3
